* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-image: url("sunset\ background.jpeg");
    background-size: cover;
}

header h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 60px;
    font-weight: 400;
    height: 100px;
    text-align: center;
    width: 70%;
    padding: 10px;
    margin: 20px auto;
}

h1 {
    font-family: 'Lobster Two', cursive;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#colors, #fonts, #text-styles {
    margin-bottom: 80px;
    background-color: rgba(255, 255, 185, 0.5);

    margin: 20px 400px;
    border-radius: 25px;
    padding: 30px;
}


#colors div {
    width: 220px;
    display: inline-block;
    padding: 10px;
    margin: 0px 20px; 
    
}

#pink {
    background-color: #f9dbf0;
}

#orange {
    background-color: #fdf2d4
}

#blue {
    background-color: #c0ecf7;
}



#fonts div {
    width: 220px;
    display: inline-block;
    padding: 10px;
    margin: 0px 20px; 
    vertical-align: top;
}

#lobster-two {
    font-family: 'Lobster Two', cursive;
}

#noto-sans {
    font-family: 'Noto Sans', sans-serif;
}


#open-sans {
    font-family: 'Open Sans Condensed', sans-serif;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}



#text-styles div {
    width: 260px;
    display: inline-block;
    padding: 10px;
    margin: 0px 20px; 
    vertical-align:middle;
}

ul {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

footer {
    font-style: italic;
}

